//Даний файл є файлом де описані стилі сайту
/*----------------------------------------------------------------------------------------*/
//Підключення файлу зі обнуляючими стилями
@import '_nullstyle';
/*----------------------------------------------------------------------------------------*/
/*Підключення файлу зі шрифтами*/
@import '_addFonts';
/*----------------------------------------------------------------------------------------*/
/* general scss */
.wrapper {
  font-family: 'Poppins', sans-serif;
  color: #fff;
 	background-color: #2F8E84;  
  min-height: 100vh;
	display: flex;
	flex-direction: column;
}
.fullscreen {
  display: flex;
  flex: 1 1 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 15px 0;
}
.message{
	width: 100%;
  height: 96px;
  font-size: 72px;
  font-weight: 600;
  line-height: 96px;
  letter-spacing: 5px;
  text-shadow: 1px 5px black;
  background-color: rgba(0, 0, 0, 0.8);
  text-transform: uppercase;
	margin: 0 auto;
	text-align: center;
  position: absolute;
  transition: all 0.4s ease-in 0s;
  &::before,&::after{
    content: '';
    position: relative;
    top: 5px;
  }
  &::before{
    padding-left: 92px;
    right: 25px;
  }
  &::after{
    padding-right: 92px;
    left: 25px;
  }
  &._game-over{
    color: red;
    &::before,&::after{
      background: url('../img/game/boom.png') 0 0 /92px no-repeat;
    }
  }
  &._game-win{
    color: green;
    &::before,&::after{
      background: url('../img/game/win.png') 0 0 /92px no-repeat;
    }
  }
  &._off{
    display: none;
  }
}
.container { 
  width: 1024px;  
}

/* header scss */
.header {
  // .header__title
  &__title {
    font-size: 72px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.5;
    letter-spacing: 15px;
    &::after{
      content: '';
      background: url('../img/header/flag.png') 0 0 / 92px no-repeat;
      padding-right: 92px;
      position: relative;
      top: 5px;
      left: 25px;
    }
  }
  // .header__row
  &__row{
 	  display: flex;
		justify-content: space-between;
    background-color: #f9f9ff;
		border-radius: 25px 25px 0 0;
		box-shadow: 0px 0px 5px 5px rgba( 7, 123, 111, 1);
		margin: 15px 0px 0px;
		width: 100%;
    color: #70757A;
  }
  // .header__setlevel
  &__setlevel {
    width: 190px;
		text-align: left;
		font-size: 16px;
		font-weight: 700;
    margin: 15px 25px;
    
	}
	 // .header__arrow
  &__arrow {
		&::before{
			content: '';
			display: inline-block;
			width: 0;
			height: 0;
			transition: transform 0.7s ease 0s;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			border-top: 12px solid #14BDAC;
			border-radius: 6px;
			margin: 3px 5px 0 0px;
			line-height: 1.2;
		}
		&._active{
			&::before{
				transform: rotate(-180deg);
			}			
		}
	}
   // .header__list
  &__list {
		margin-left: 5px;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translate(0%, -50%);
		&._active{
			opacity: 1;
			visibility: visible;
			pointer-events: all;
			transform: translate(0px, 0px);
			transition: all 0.3s ease 0s;
		}
		& li {
			margin-top: 5px;
			&:first-child{
				margin-top: 10px;
			}
			padding: 0 0px 0 22px;
			&:hover{
				text-decoration: underline;
			}
			&._active{
				background: url('../img/header/check.png') left no-repeat;
			}
		
		}
	}
 // .header__level
  &__level {}
  // .header__stopwatch
  &__stopwatch {
    width: 250px;
  	height: 40px;
    margin-bottom: 5px;
    align-self: flex-end;
    text-align: center;
  	color: #70757A;
  	font-size: 26px;
  	border-radius: 7px;
  	border: 1px solid #AAAFBD;
    line-height: 1.5;
  	border-bottom: none;
  	background-color: #f9f9ff;
    border-bottom: 3px solid #14bdac;
		box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.2);
    & span{
     display: inline-block;
     width: 35px;
    }
  }
  // .header__start
  &__start {
    width: 190px;
    height: 50px;
    padding: 0px 35px;
    margin: 15px 25px;
    color: #70757A;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 25px;
 	  border: 1px solid #AAAFBD;
  	border-bottom: none;
  	background-color: #f9f9ff;
    transition: all 0.3s ease 0s;
  	&:active{
  		border-bottom: 5px solid #14bdac;
      transform: scale(0.9);
  	}
  }
  // .header__text 
  &__text{
   font-size: 12px;
   margin: 10px 0 5px 0;
   color: #ffffff;
  }
}
////////////////////////////////////////////////////////////////////////////////
.game {
  background-color: #14bdac;
  // .game__canvas
  &__canvas{
    width: 0px;
    height: 0px;
    margin: 0 auto;
    
    //.game__canvas button
    & button{
      appearance: auto;
      writing-mode: horizontal-tb !important;
      text-rendering: auto;
      letter-spacing: normal;
      word-spacing: normal;
      line-height: normal;
      text-align: center;
      border-width: 2px;
      border-style: outset;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////
.footer {
  // .footer__box
  &__box{
    margin: 0px 0px 50px 0px;
		width: 100%;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
    font-weight: 600;
    color: #70757A;
		background-color: #f9f9ff;
		border-radius: 0 0 25px 25px;
		box-shadow: 0px 5px 5px 5px rgba( 7, 123, 111, 1);
	}
  // .footer__title
  &__title {
    font-size: 25px;
  }
  // .footer__row
  &__row {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  // .footer__icon
  &__icon {    
    margin: 0px 15px;
    display: flex;
		align-items: center;
		justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
  }
  // .footer__img
  &__img {
    align-self: center;
    max-width: 60%;
  }
}


